.select-box {
    display: inline-block;
    float: left;
    width: 100%;
    font-size: 1.2em;
    padding: 0.5em 0.5em;
    border-radius: 3px;
    margin-left: 30px;
}

.select-container{
    margin-left: 50px;
    width: 200px;
}

.select-checkbox option::before {
    content: "\2610";
    width: 1.3em;
    text-align: center;
    display: inline-block;
}
.select-checkbox option:checked::before {
    content: "\2611";
}


button {
    display: inline-block;
    border-radius: 3px;
    border: none;
    font-size: 0.9rem;
    padding: 0.5rem 0.8em;
    background: #69c773;
    border-bottom: 1px solid #498b50;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0;
    width: 100%;
    text-align: center;
}

button:hover, button:focus {
    opacity: 0.75;
    cursor: pointer;
}

button:active {
    opacity: 1;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

.hide {
    display:none;
}

.show {
    display: inline-block;
}